<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula 1 - Vue.js</title>
</head>

<body>

    <div id="app">
        <h1> {{title}} </h1>
        <div v-if="usuario.nome == 'Jhonny'">
            Id: {{usuario.id}},<br>
            Nome: {{usuario.nome}},<br>
            Profissão: {{usuario.profissao}}
        </div>
        <div v-else> Nenhum usuario com o ID = 1 </div>
        <hr>
        <ul>
            <li v-for="(item, index) in linguagens">{{index}} - {{item.nome}}</li>
        </ul>
        <hr>
        <br>
        <label for="">Nome</label>
        <input type="text" v-model="nome">
        <br><br>
        <label for="">Telefone</label>
        <input type="text" v-model="telefone">
        <br><br>
        <label for="">Deseja receber nossas novidades?</label> <br>
        <input type="radio" value="Sim" v-model="novidades"> Sim
        <input type="radio" value="Não" v-model="novidades"> Não
        <br><br>
        <label for="">Interesses</label> <br>
        <input type="checkbox" value="Futebol" v-model="interesses"> Futebol <br>
        <input type="checkbox" value="Formula 1" v-model="interesses"> Formula 1Formula 1 <br>
        <input type="checkbox" value="Corrida" v-model="interesses"> Corrida <br>
        <br><br>
        <label for="">Como nos conheceu?</label> <br>
        <select v-model="conheceu">
            <option value="" cheked>Escolha</option>
            <option value="Google">Google</option>
            <option value="TV">TV</option>
            <option value="Revista">Revista</option>
            <br><br>
        </select>
        <br><br>
        <button>Enviar</button>
        <br><br>

        <form style="border-style: solid; ">
            Nome: {{nome}} <br>
            Telefone: {{telefone}} <br>
            Novidades: {{novidades}} <br>
           Interesses: {{interesses}} <br>
           Como nos conheceu: {{conheceu}} <br>
        </form>
    </div>

    <script src="http://unpkg.com/vue"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                title: "Aula 1 -Vue.js do jeito Ninja",
                linguagens: [
                    { nome: "JavaScript" },
                    { nome: "PHP" },
                    { nome: "C#" },
                    { nome: "Java" },
                    { nome: "Ionic" },
                ],
                nome: "",
                telefone: "",
                novidades: "",
                interesses: [],
                conheceu: "",
                usuario: {
                    id: 2,
                    nome: "Jhonny",
                    profissao: "Ator"
                }

            }
        });
    </script>

</body>

</html>